$light-input-background: #ffffff;
$dark-input-background: #333333;
$light-text-color: #372a2a;
$dark-text-color: #ffffff;
$light-button-background: #ffffff;
$dark-button-background: #2b2b2b;
$light-note-background: #f0f0f0;
$dark-note-background: #424242;
$primary-color: #3498db;
$hover-color: #2ecc71;

body {
  background-color: $light-input-background;
  color: $light-text-color;
}

input, textarea {
  background-color: $light-input-background;
  border: 1px solid darken($light-input-background, 10%);
  color: $light-text-color;
}

button {
  background-color: $light-button-background;
  color: darken($light-button-background, 50%);
  &:hover {
    background-color: $hover-color;
  }
}

body.dark {
  background-color: $dark-input-background;
  color: $dark-text-color;
}

body.dark input, 
body.dark textarea {
  background-color: $dark-input-background;
  border: 1px solid darken($dark-input-background, 10%);
  color: $dark-text-color;
}

body.dark button {
  background-color: $dark-button-background;
  color: $dark-text-color;
}

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.header {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
}

.note-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 50px;
}

.title-input, .text-input {
  width: 100%;
  padding: 45px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.saved-notes {
  width: 80%;
  margin-top: 20px;
}

.saved-note {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
